<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h1>New Snippet</h1>

      <%= form_for @snippet, :html => {:class => "form-horizontal well", :role => "form"} do |f| %>
      <% if @snippet.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>
        <ul>
          <% @snippet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :language %>
        <%= f.select :language, options_for_select([["Ruby", "ruby"], ["Python", "python"], ["JavaScript", "javascript"], ["CSS", "css"]]), {},{:class => "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.label :plain_code, "Source Code" %></br>
        <%= f.text_area :plain_code, rows: 14, cols: 80 %>
      </div>
      <%= f.submit "Post Snippet", :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
